/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common  */

/* typo  */
li{
    list-style: none;
}
/* header  */
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
nav div ul{
    display: flex;
    align-items: center;
}
.left li, .right li{
    margin: 0 10px;
}
nav a{
    text-decoration: none;
    color: black;
}
.logo{
    height: 16px;
}
.start{
    background-color: #0061ff;
    color: white;
    padding: 5px;
}
/* main  */
/* prima sezione */
.container-first{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.container-first div:first-child{
    width: 30%;
}
.container-first div:last-child{
    width: 70%;
}
h1{
    text-align: left;
    font-size: 70px;
}
.titolo{
    width: 70%;
    margin: auto;
}
.img-jumbo{
    width: 100%;
}
.first{
    background-color: #b4d0e7;
}
/* fine prima sezione */
/* seconda sezione  */
.container-opzioni{
    display: flex;
}
.container-second{
    width: 55%;
    margin: auto;
}
/* fine seocnda sezione */
/* terza sezione */
.container-third{
    width: 55%;
    margin: auto;
}
.container-partner{
    display: flex;
}
.container-partner div:first-child{
    width: 70%;
}
.container-partner div:last-child{
    width: 30%;
}
.img-partner{
    width: 100%;
}
/* fine terza sezione  */
/* quarta sezione  */
.container-fourth{
    width: 55%;
    margin: auto;
}
.container-fourth-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-fourth-img div{
    width: calc(100% /3 - 20px);
}
.container-fourth-img div img{
    width: 100%;
}
/* fine quarta sezione  */

/* footer  */